<ScrollView>
	<DockLayout stretchLastChild="true">
		<FlexboxLayout dock="bottom" class="nav-bar">
			<Label (tap)="onHome()" class="fas nav-bar__icons" id="icon-home" text="&#xf015; Home"></Label>
			<Label (tap)="onHotel()" class="fas nav-bar__icons" text="&#xf594;"></Label>
			<Label (tap)="onSearch()" class="fas nav-bar__icons" text="&#xf002;"></Label>
			<Label (tap)="onAccount()" class="fas nav-bar__icons nav-bar__icons-active" text="&#xf007;"></Label>
		</FlexboxLayout>
		<FlexboxLayout class="main">
			<FlexboxLayout class="header">
				<Label (tap)="onHome()" class="fas header__icon" text="&#xf060;"></Label>
				<Label class="header__title" text="Perfil"></Label>
			</FlexboxLayout>
			<FlexboxLayout class="body">
				<FlexboxLayout class="header-profile">
					<AbsoluteLayout width="105">
						<Image src="~/assets/Ellipse194.png" class="img-profile"></Image>
						<Label class="circle-active"></Label>
					</AbsoluteLayout>
					<FlexboxLayout class="profile-info">
						<Label class="profile-name">{{ usuario.nombre }}</Label>
						<Label class="profile-id">{{ usuario.rol }}</Label>
					</FlexboxLayout>
					<FlexboxLayout class="btn-message">
						<Label class="far" text="&#xf27a;"></Label>
					</FlexboxLayout>
				</FlexboxLayout>
				<FlexboxLayout class="options-profile">
					<FlexboxLayout class="options">
						<FlexboxLayout class="text-option">
							<Label class="fas icon-left" text="&#xf013;"></Label>
							<Label (tap)="onEditAccount()" text="Preferencias"></Label>
						</FlexboxLayout>
						<Label class="fas icon-right" text="&#xf054;"></Label>
					</FlexboxLayout>
					<FlexboxLayout class="options">
						<FlexboxLayout class="text-option">
							<Label class="fas icon-left" text="&#xf13e;"></Label>
							<FlexboxLayout class="security">
								<Label text="Seguridad"></Label>
								<Progress class="progress-bar" width="100" value="25" maxValue="100"></Progress>
							</FlexboxLayout>
						</FlexboxLayout>
						<Label class="fas icon-right" text="&#xf054;"></Label>
					</FlexboxLayout>
					<FlexboxLayout class="options">
						<FlexboxLayout class="text-option">
							<Label class="fas icon-left" text="&#xf274;"></Label>
							<Label (tap)="onReservas()" text="Reservas"></Label>
						</FlexboxLayout>
						<Label class="fas icon-right" text="&#xf054;"></Label>
					</FlexboxLayout>
					<FlexboxLayout class="options">
						<FlexboxLayout class="text-option">
							<Label class="fas icon-left" text="&#xf1f8;"></Label>
							<Label (tap)="eliminarCuenta()" text="Eliminar Cuenta"></Label>
						</FlexboxLayout>
						<Label class="fas icon-right" text="&#xf054;"></Label>
					</FlexboxLayout>
					<FlexboxLayout class="options">
						<FlexboxLayout class="text-option">
							<Label class="fas icon-left" text="&#xf2f5;"></Label>
							<Label (tap)="cerrarSesion()" text="Cerrar Sesión"></Label>
						</FlexboxLayout>
						<Label class="fas icon-right" text="&#xf054;"></Label>
					</FlexboxLayout>
				</FlexboxLayout>
			</FlexboxLayout>
			<StackLayout style="padding-top: 30em;">
				<ListView height="150" [items]="usuario" (itemTap)="onItemTap($event)" class="list-group">
					<ng-template let-item="item" let-i="index" let-odd="odd" let-even="even">
						<GridLayout columns="30, *, 35, auto">
							<Label [text]="item.id" col="0" class="fas list-group-item"></Label>
							<Label [text]="item.nombre" col="1" class="fas list-group-item"></Label>
							<Label text="&#xf2ed;" col="2" class="far list-group-item" (tap)="eliminarCat(item)"></Label>
							<Label text="&#xf044;" col="3" class="far list-group-item" (tap)="editarCat(item)"></Label>
						</GridLayout>
					</ng-template>
				</ListView>
			</StackLayout>
		</FlexboxLayout>
	</DockLayout>
</ScrollView>


