<flexboxLayout>
    <AbsoluteLayout class="image-scroll" position="relative">
        <Image class="imagen" src="~/assets/hoteles.jpg"></Image>
        <flexboxLayout class="image-text-cont" position="absolute" >
            <flexboxLayout class="image-t">
                <label class="image-text" text="Bermudha, USA "></label>
                <label class="image-text2" text="Starting at $1000"></label>
            </flexboxLayout>
            <label id="image-icon" class="fas" text="&#xf004;"></label>
        </flexboxLayout>
    </AbsoluteLayout>
</flexboxLayout>