<ScrollView>
    <StackLayout class="main">
        <FlexboxLayout class="header">
            <Label (tap)="onHome()" class="fas header__icon" text="&#xf053;"></Label>
            <Label class="header__title" text="Hospedajes"></Label>
        </FlexboxLayout>
        <GridLayout  rows="auto, auto" columns="*, auto" class="search">
            <TextField row="0" colSpan="2" hint="Buscar"></TextField>
            <Label row="0" col="1" class="fas search-icon" text="&#xf002;"></Label>
        </GridLayout>
        <FlexboxLayout class="nav">
            <FlexboxLayout class="nav-item" (tap)="onSearch()" >
                <Label class="fas" text="&#xf0b0;"></Label>
                <Label text=" Filtros"></Label>
            </FlexboxLayout>
            <FlexboxLayout class="nav-item">
                <Label class="fas" text="&#xf884;"></Label>
                <Label text=" Ordenar"></Label>
            </FlexboxLayout>
            <FlexboxLayout class="nav-item">
                <Label class="fas" text="&#xf3c5;"></Label>
                <Label text=" Mapa"></Label>
            </FlexboxLayout>
        </FlexboxLayout>
        <FlexboxLayout (tap)="onDetails()" class="hotels">
            <card-hotel
                *ngFor="let hotel of hotels"
                [hotelImg]="hotel.img"
                [hotelName]="hotel.name"
                [hotelPrice]="hotel.price"
                [hotelRating]="hotel.rating"
            ></card-hotel>
        </FlexboxLayout>
    </StackLayout>
</ScrollView>
