<DockLayout stretchLastChild="false" id="main">
    <StackLayout  dock="top">
        <flexboxLayout id="nav-2">
            <label id="btn-5" class="fas" text ='&#xf0c9;'></label>
            <label id="btn-6" class="fas" text ='&#xf0f3;'></label>
        </flexboxLayout>
    </StackLayout>
    <flexboxLayout id="nav" dock="bottom">
        <button  class="fas" id="btn-1" text ='&#xf015; Home'></button>
        <label  (tap)="onHotel()" id="icon-hotel" class="fas" text ='&#xf594;'></label>
        <label  (tap)="onSearch()" id="btn-3" class="fas" text ='&#xf002;'></label>
        <label  (tap)="onAccount()" id="icon-account" class="fas" text ='&#xf007;'></label>
    </flexboxLayout>
    <ScrollView>
        <flexboxLayout id="contenedor"  >
            <label textWrap="true" id="pregunta" text="¿Donde te quieres hospedar?">
            </label>
         
            <ScrollView orientation="horizontal" scrollBarIndicatorVisible="false">
                <flexboxLayout id="ciudades">
                    <label id="active" text="Medellín"></label>
                    <label class="ciudad" text="Barranquilla"></label>
                    <label class="ciudad" text="Cali"></label>
                    <label class="ciudad" text="Valledupar"></label>
                    <label class="ciudad" text="Bogotá"></label>
                </flexboxLayout>
            </ScrollView>
            <ScrollView orientation="horizontal" scrollBarIndicatorVisible="false">
                <flexboxLayout>
                    <AbsoluteLayout class="image-scroll" position="relative" *ngFor="let hotel of hoteles">
                        <Image class="imagen" src="~/assets/hoteles.jpg"></Image>
                        <flexboxLayout class="image-text-cont" position="absolute" >
                            <flexboxLayout class="image-t">
                                <label class="image-text" text="{{ hotel.nombre }}"></label>
                                <label class="image-text2" text="{{ hotel.precio }}"></label>
                            </flexboxLayout>
                            <label id="image-icon" class="fas" text="&#xf004;"></label>
                        </flexboxLayout>
                    </AbsoluteLayout>
                </flexboxLayout>
            </ScrollView>
            <label id="Hospedaje" textWrap="true"text="Ciudades Destacadas">
            </label>
            <ScrollView orientation="horizontal" scrollBarIndicatorVisible="false">
                <flexboxLayout>
                    <AbsoluteLayout class="image-scroll-city" position="relative">
                    <Image class="imagen-city" src="~/assets/medellin.jpg"></Image>
                        <flexboxLayout class="image-text-cont-city" position="absolute" >
                            <flexboxLayout class="image-t-city">
                                <label class="image-text-city" text="Medellín"></label>
                            </flexboxLayout>
                        </flexboxLayout>
                    </AbsoluteLayout>
                    <AbsoluteLayout class="image-scroll-city" position="relative">
                        <Image class="imagen-city" src="~/assets/bogota.jpg"></Image>
                            <flexboxLayout class="image-text-cont-city" position="absolute" >
                                <flexboxLayout class="image-t-city">
                                    <label class="image-text-city" text="Bogotá"></label>
                                </flexboxLayout>
                            </flexboxLayout>
                    </AbsoluteLayout>
                    <AbsoluteLayout class="image-scroll-city" position="relative">
                        <Image class="imagen-city" src="~/assets/cali.jpg"></Image>
                            <flexboxLayout class="image-text-cont-city" position="absolute" >
                                <flexboxLayout class="image-t-city">
                                    <label class="image-text-city" text="Cali"></label>
                                </flexboxLayout>
                            </flexboxLayout>
                    </AbsoluteLayout>
                </flexboxLayout>
            </ScrollView>
        </flexboxLayout>
    </ScrollView>
</DockLayout>
