#label1{
    margin-left: 45px;
    font-weight:600;
}
#label2{
    margin-bottom: 60px;
    font-weight:500;
}
#boton1{
    background-color: #FF5C5C;
    color: white;
    border-radius: 15px;
    margin-top: 50px;
    font-weight: 400;
}

#titulo{
    margin-top: 45px;
    font-size: 20rem;
    margin-bottom: 50px;
}
TextField{
    border-width:1px;
    border-radius:15px;
    height: 100px;
    font-weight: 100;
    background-color: white;
    padding: 20px;

}
Image{
    border-radius: 50%;
    margin-top: 20px;
}

#boton2{
    width: 10px;
    border-radius: 15px;
    height: 1px;
}

#titulo1{
    font-size: 30;
    padding: 0;
    width: 10;
    height: 10;
    border-radius: 30px;
}
#p1{
    margin-top: 1350px;
    background-color: white;
    height: 150px;
}
#boton3{
    background-color: #386363;
    color: white;
    border-radius: 15px;

}
#barra{
    background-color: white;
    height: 130px;
}

#boton4{
    color: #FF5C5C;
    font-size: 20px;
    margin-left: 100px;
  }
#boton5{
    color: #386363;
    font-size: 20px;
    margin-left: 50px;
}
#boton6{
    color: #386363;
    font-size: 20px;
    margin-left: 100px;

}
#boton7{
    background-color: #386363;
    color: white;
    margin-left: 60px;
    width: 200px;
    height: 10px;
    padding: 8 16 8 16;
    border-radius: 50%;


}
#boton10{
    font-size: 20px;
    text-align: center;
    margin-left: 28px;
    background-color: white;
    height: 90px;
    width: 110px;
    margin-top: 20px;
    border-radius: 50%;
}
.texteditar{
    font-weight:600;
    font-size: 20px;
    margin-left: 30px;
    margin-top: 15px;
}
