<DockLayout stretchLastChild="true"  backgroundColor="#F3F5F6"  >
    <FlexboxLayout dock="bottom" id="barra">
      <Label id="boton7" class="fab" text="&#xf09a; Home"></Label>
      <button id="boton5" class="fas" text="&#xf0f3;" ></button>
      <button id="boton5" class="fas" text="&#xf0f3;" ></button>
      <button id="boton4" class="fas" text="&#xf007;"></button>
  
  
  
    </FlexboxLayout>
    <StackLayout>
      <FlexboxLayout dock="bottom">
        <Label class="fas" text="&#xf007;"></Label>
        <Label id="titulo" text="Editar Perfil"></Label>
      </FlexboxLayout>
        <Image src="~/app/images/imagen.png" width="120" ></Image>
        <Label  id="label2" class="texto_centrado" text="Cambiar foto de perfil"></Label>
        <Label id="label1" text="Nombre" ></Label>
        <TextField hint="Sebastián"></TextField>
        <Label id="label1" text="Ubicación"></Label>
        <TextField hint="Bogotá, Colombia"> </TextField>
        <Label id="label1" text="Dirección"></Label>
        <TextField hint="Calle 31#"></TextField>
        <Label id="label1" text="Celular o teléfono" ></Label>
        <TextField hint="+57"> </TextField>
        <Button id="boton1" text="Guardar cambios"></Button>
    </StackLayout>
  </DockLayout>