<DockLayout stretchLastChild="true"  backgroundColor="#F3F5F6"  >
  <FlexboxLayout dock="bottom" id="barra">
    <button  (tap)="onHome()" id="boton7" class="fas" text="&#xf015;  Home"></button>
    <Label id="boton5" class="fas" text="&#xf14e;" ></Label>
    <Label id="boton6" class="fas" text="&#xf0f3;" ></Label>
    <Label id="boton4" class="fas" text="&#xf007;"></Label>
  </FlexboxLayout>
  <FlexboxLayout id="form">
    <FlexboxLayout dock="bottom">
      <Label (tap)="onAccount()" class="fas" id="boton10" text="&#xf060;"></Label>
      <label text="Editar Perfil" class="texteditar"></label>
    </FlexboxLayout>
    <Image src="~/app/images/imagen.png" width="120" ></Image>
    <Label  id="label2" class="texto_centrado" text="Cambiar foto de perfil"></Label>
    <Label id="label1" text="Nombre" class="fas" ></Label>
    <TextField hint="Sebastián"></TextField>
    <Label id="label1" text="Ubicación"></Label>
    <TextField hint="Bogotá, Colombia"> </TextField>
    <Label id="label1" text="Dirección"></Label>
    <TextField hint="Calle 31#"></TextField>
    <Label id="label1" text="Celular o teléfono" ></Label>
    <TextField hint="+57"> </TextField>
    <Button (tap)="onAccount()" id="boton1" text="Guardar cambios"></Button>
  </FlexboxLayout>
</DockLayout>











